.header {
  width: 100%;
  background-color: var(--bg-color);
  margin: 0;
  box-shadow: 0 2rem 5rem #ebc4c440;
}

.header > nav {
  width: inherit;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 2rem 0;
}

.navItem {
  list-style: none;
  color: white;
  font-size: 1.75rem;
  position: relative;
  overflow: hidden;
}

.navLink::after {
  transition: bottom 100ms ease-in-out;

  --height: 0.15rem;
  left: 0;
  right: 0;
  bottom: calc(-1 * var(--height));

  content: '';
  position: absolute;

  height: var(--height);

  background-color: var(--main-color);
}

.navLink:hover::after,
.navLink:focus::after {
  bottom: 0;
}

.navItem:hover {
  cursor: pointer;
}
