.projectsSection {
  margin-top: 13rem;
}

.projectsContainer {
  padding: 4rem;
  display: grid;
  gap: 7rem;
}

.cardLeft {
  justify-self: start;
}
.cardRight {
  justify-self: end;
}

.gridBarSeparator {
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .cardLeft,
  .cardRight {
    justify-self: center;
  }
}

