.separator {
  display: inline-block;
  margin: 0;
}

.reversed {
  transform: rotateX(180deg);
}

.triangleUp {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--bg-color);
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid var(--secondary-color);
}
